*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 45px 0;
  text-align: center;
}

.container {
  /* border: 3px dashed red;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.square {
  border: 1px solid black;
  flex: 0 0 calc(100%/16);
  aspect-ratio: 1 / 1;
}

/* TODO: Apply hover effect to grid squares. */

