@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 3px 8px;
}

.buttons {
  margin-bottom: 30px;
}

h1 {
  color: rgba(255, 217, 0, 0.858);
  font-size: 60px;
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-style: normal;
  margin: 45px 0 5px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px; /* Overall size of grid */
}

.square {
  background-color: white;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
}

/* 
TODO: 
Basic styling:
  -Style buttons
  -Add two white knobs on each side of grid
    --in the knobs add text "Created by Brandon Rodriguez" and something like "Courtesy of The Odin Project"
*/