*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 12px;
  padding: 2px 5px;
}

.buttons {
  margin-bottom: 30px;
}

h1 {
  font-size: 45px;
  margin: 45px 0 5px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.square {
  border: 1px solid black;
  aspect-ratio: 1 / 1;
}